.flash-box
.wrapper
  .contents-side
    .side-header
      .side-header__box
        %h3.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group 
            = link_to  new_group_path(current_user) do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.side-header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
    .groups
      .group
        %p.group-name sample
        %p.group-message hello!!

  .contents-main
    .main-header
      .main-header__group
        %h2.main-header__group-name sample
        %ul.main-header__group-member 
          %li.main-header__group-member Member : 
          %li.main-header__group-member__list 　aaa
      %a{href: "edit"}
      .main-header__edit-btn Edit 
    .messages
      .message-info
        %p.message-info__member aaa
        %p.message-info__date 2019/05/23(Thu) 23:15:09
      %p.massage-text hello!!
    .form
      %form.message-new  
        .message-box 
          %input{ class: "message-box__text",id: "message-content",type: "text",name: "message[content]",placeholder: "type a message"}
            
          %label{ class: "image-label" ,
                  for: "message_image",}
            %i.fa.fa-image 
            %input{ class: "image-label__input",type:"file",name: "message[image]",id: "message_image"}
        %input{ class: "submit-btn",
                type: "submit",
                value: "Send",
                name: "commit",
                "data-disable-with" => "Send"}
        






