.flash-box
.wrapper
  = render "shared/contents-side"
    

  .contents-main
    .main-header
      .main-header__group
        %h2.main-header__group-name sample
        %ul.main-header__group-member 
          %li.main-header__group-member Member : 
          %li.main-header__group-member__list 　aaa
      %a{href: "edit"}
      .main-header__edit-btn Edit 
    .messages
      = render @messages
    
    .form
      = form_for [@group, @message] do |f|
        .message-box
          = f.text_field :content, class: 'message-box__text', placeholder: 'type a message'
          .image-label
            = f.label :image, class: 'image-label' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'image-label__input'
        = f.submit 'Send', class: 'submit-btn'







